language: node_js
node_js:
  - "6"
  - "6.1"
  - "5.11"
  - "0.10"
  - "iojs"
addons:
  code_climate:
    repo_token: $CODECLIMATE_REPO_TOKEN
after_script:
  - codeclimate-test-reporter < coverage/lcov.info
deploy:
  provider: npm
  email: "$EMAIL"
  api_key: "$NPM_API_KEY"
  on:
    tags: true
